body {
  background: lightblue;
  padding: 50px 0;
  font-size: 1.4rem;
}

.play__eggs {
  position: relative;
  height: 500px;
  width: 80px;
}

.play__eggs > img {
  position: absolute;
  height: 60px;
}

.play__wrapper {
  display: flex;
  margin: 50px 0;
}


.form__group {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  margin: 10px 0;
  align-items: end;
}

.form__group > * {
  font-size: 1.4rem;
}

#treeWrapper {
  width: 900px;
}




